<h1> <%= product.name %></h1>
<table class="table">
    <tr>
        <th>Name</th>
        <!-- http://localhost:3000/products/5f080e1f95bce0075cbba894 -->
        <!-- <a href="<%= `/products/${product._id}` %>">
            <%= product.name %>
        </a> -->
        <td><%= product.name %></td>
        <img src="<%= product.picture %>" alt="" style="width: 80px">
        <td><%= product.description %></td>
        <td><%= product.price %></td>
    </tr>

</table>

<!-- <% if (product.subscribedAccount) { %>
<h4 class="center"> This product has a
    <a href="<%=`/subscribers/${product.subscribedAccount}` %>">
        subscribed account</a>.
</h4>
<% } %> -->